<ion-header>
  <ion-navbar>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cambiar sucursal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item detail-none color="primary" *ngFor="let item of global.branches" (click)="onSelectBranch(item)">
      <ion-label>{{item.Branch.name}}</ion-label>
      <ion-icon name="checkmark" item-end *ngIf="isCurrentBranch(item)"></ion-icon>
    </button>
  </ion-list>
</ion-content>
